<html>

  <head>
    <title>WordHabit Administration Panel - Dashboard</title>
  </head>

  <body>

    <a href="/panel/word">Add new word</a>

    <h1>Word list</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Primary language word</th>
          <th>Secondary language word</th>
          <th>Environment</th>
          <th>Execute at</th>
          <th>Executed</th>
        </tr>
      </thead>
      <tbody>
        {{#each words}}
          <tr>
            <td>{{primaryLangWord}}</td>
            <td>{{secondaryLangWord}}</td>
            <td>{{environment}}</td>
            <td>{{executeAt}}</td>
            <td>{{executed}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </body>
</html>
