<html>

  <head>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>WordHabit Administration Panel - Dashboard</title>
    {{{devStyle}}}
  </head>

  <body class="wh-dashboard-page">
    <header class="wh-header">
      <div class="wh-container">
        <span class="wh-logo"></span>
        <a class="wh-navlink active" href="/panel/dashboard">Dashboard</a>
        <a class="wh-navlink" href="/panel/word">New word</a>
      </div>
    </header>

    <div class="wh-content wh-container">
      <strong class="wh-alert">{{{error}}}</strong>

      <div id="wordListTopicListSwitch" class="wh-switch">
        <button
          class="wh-switch-option wh-switch-option-active"
          type="button"
          data-list="WORD">
          Words
        </button>
        <span class="wh-switch-option-divider"></span>
        <button
          class="wh-switch-option"
          type="button"
          data-list="TOPIC">
          Topics
        </button>
      </div>

      <table id="wordList" class="wh-table">
        <thead>
          <tr>
            <th>Environment</th>
            <th>Language</th>
            <th>Word</th>
            <th>Details</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each words}}
          <tr
            class="{{ternary executed 'wh-table-row-success' 'wh-table-row-failure'}}"
            data-details="{{jsonStringify this}}">
            <td>{{environment}}</td>
            <td>
              {{primaryLang}}
              <div class="wh-table-cell-divider"></div>
              {{secondaryLang}}
            </td>
            <td>
              {{primaryLangWord}}
              <div class="wh-table-cell-divider"></div>
              {{secondaryLangWord}}
            </td>
            <td>
              <button class="wordDetailsButton wh-button" type="button">
                <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M20 19.59V8l-6-6H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c.45 0 .85-.15 1.19-.4l-4.43-4.43c-.8.52-1.74.83-2.76.83-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5c0 1.02-.31 1.96-.83 2.75L20 19.59zM9 13c0 1.66 1.34 3 3 3s3-1.34 3-3-1.34-3-3-3-3 1.34-3 3z"/>
                </svg>
              </button>
            </td>
            <td>
              <button class="deleteWordButton wh-button wh-button-error" type="button">
                <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
                  <path d="M0 0h24v24H0z" fill="none" />
                </svg>
              </button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <table id="topicList" class="wh-table wh-hidden">
        <thead>
        <tr>
          <th>Environment</th>
          <th>Difficulty</th>
          <th>Language</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
          {{#each topics}}
          <tr class="wh-table-row-success">
            <td>{{environment}}</td>
            <td>{{difficulty}}</td>
            <td>
              {{primaryLang}}
              <div class="wh-table-cell-divider"></div>
              {{secondaryLang}}
            </td>
            <td>{{name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{{devScript}}}
  </body>

</html>
