<html>

  <head>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>WordHabit Administration Panel - Dashboard</title>
    {{{devStyle}}}
  </head>

  <body class="wh-dashboard-page">
    <header class="wh-header">
      <div class="wh-container">
        <span class="wh-logo"></span>
        <a class="wh-navlink active" href="/panel/dashboard">Dashboard</a>
        <a class="wh-navlink" href="/panel/word">New word</a>
      </div>
    </header>

    <div class="wh-content wh-container">
      <strong class="wh-alert">{{{error}}}</strong>

      <table id="wordList" class="wh-table">
        <thead>
          <tr>
            <th>Lang</th>
            <th>Word</th>
            <th>Env</th>
            <th>Date</th>
            <th>Del</th>
          </tr>
        </thead>
        <tbody>
          {{#each words}}
          <tr class="{{ternary executed 'wh-table-row-success' 'wh-table-row-failure'}}">
            <td>{{primaryLang}}<br />{{secondaryLang}}</td>
            <td>{{primaryLangWord}}<br />{{secondaryLangWord}}</td>
            <td>{{environment}}</td>
            <td>{{executeAt}}</td>
            <td>
              <input type="hidden" value="{{{id}}}" />
              <button class="deleteWordButton wh-button wh-button-error wh-button-small" type="button">X</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{{devScript}}}
  </body>

</html>
